/* Los Andes Lota Grotesque - Versión Principal */
@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Extra Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Extra Light Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Regular Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Semi Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Semi Bold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque';
  src: url('/fonts/Los Andes  Lota Grotesque Black Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Los Andes Lota Grotesque Alt 1 */
@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Extra Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Extra Light Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Regular Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Semi Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Semi Bold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 1';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 1 Black Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Los Andes Lota Grotesque Alt 2 */
@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Extra Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Extra Light Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Regular Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Semi Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Semi Bold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 2';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 2 Black Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Los Andes Lota Grotesque Alt 3 */
@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Extra Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Extra Light Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Regular Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Semi Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Semi Bold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Los Andes Lota Grotesque Alt 3';
  src: url('/fonts/Los Andes  Lota Grotesque Alt 3 Black Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.title-planets {
  font-family: 'Los Andes Lota Grotesque Regular', sans-serif;
  font-weight: 600;
  color: #22283A;
}

.rotate-cw-label {
  font-family: 'Los Andes Lota Grotesque Alt 1', sans-serif;
  font-weight: 400;
  color: #697086;
}